/*
 The root selector allows the variables
 to be accessible throughout the document
*/
:root {
  --main-diagtbr-gradient: linear-gradient(to bottom right, #000000, #7209b7);
  --rev-diagtbr-gradient: linear-gradient(to bottom right, #7209b7, #000000);
  --main-ltor-gradient: linear-gradient(to right, #f7a9d6, #858ef8);
  --header-height: 10vh;
}

html {
  background: var(--main-diagtbr-gradient) no-repeat center center fixed;
  /* Fallback, and for edges */
  background-color: black;
}

/*
  Remove defaults.
*/
body {
  /* Makes sure that we can use the whole page. */
  margin: 0;

  /* You can't scroll horizontally for the main body */
  overflow-x: hidden;
}

/*
  Setting the global fonts.
*/
h2, h3 {
  font-family: 'Montserrat', sans-serif;
}

/*
 Styles for all header related elements.
*/
.header {
  position: fixed;
  width: 100%;
  top: 0;

  /* This is for the background animations */
  transition: 0.5s ease-in-out;
}

.header-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  width: 90%;
  margin: 0 auto;
}

.header-content div {
  display: flex;
  flex-direction: row;
}

.header-right-side {
  justify-content: space-around;
}

.header-scrolled {
  background-color: rgba(0, 0, 0, 0.8); 
}


.header-content h2, .header-content h3 {
   /*
    Set a background gradient to the text
    and make is dissappear to create a fake
    gradient text color.

    There's pretty poor support for
    background-clip, so this may need to be
    refactored at some point. 
    See https://developer.mozilla.org/en-US/docs/Web/CSS/background-clip.
  */
  background-image: var(--main-ltor-gradient);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  transition: 0.5s ease-in-out;
}

.header-content :is(h2:hover, h3:hover) {
  color: white;
}

/*
  Styles for all body related elements.
*/

.content {
  margin-top: var(--header-height);
}

/*
  Opening Content
*/
.opening-content {
  /*
  This is an approximation, ideally this should
  100vh - the height of the header.
  */
  height: 40rem;

  /*
  We're using a nested flex box here. The content
  div is a single column, which we use to center
  the container vertically. Then the container 
  itself is a horizontal flexbox.
  */
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* This is point to the container inside content */
.opening-content > div {
  display: flex;
  flex-direction: row;
  justify-content: space-around;

  width: 90vw;
  margin: auto auto;
}

.opening-content h2 {
  background-image: var(--main-ltor-gradient);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;

  font-family: Montserrat, sans-serif;
  font-weight: bold;
  font-size: 4.5em;

  margin-top: 0;
}

.opening-content p {
  color: white;
  font-family: Montserrat, sans-serif;
  font-size: 1.2em;
}

#opening-content-img {
  max-width: 100%;
  height: auto;
  width: auto;
}

/*
  Module standards.
*/

.module {
  scroll-margin-top: 20vh;

  width: 90%;
  margin: 5vh auto;

  /* border-top: 3px solid #d3d3d3;
  border-bottom: 3px solid #d3d3d3; */
}

.module :is(h3, h4, p,li, h2) {
  font-family: 'Montserrat', sans-serif;
  color: white;
}

/* .first-area :is(h4, h2) {
  text-align: center;
} */

.module h2 {
  /*text-decoration: underline;*/
}

/*
  Last area (Team)
*/
#last-area-wrapper {
}

#last-area h4 {
  font-size: 1.2rem;
  color: #8014ff;
}

.bio-flexbox {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.bio-flexbox-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.bio-cell {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  width: 50%;
  margin-top: 1em;
}

.bio-cell-right {
  width: 80%;
}

.bio-cell-right > div {
  width: 90%;
  margin: 0 auto;
}

.bio-img {
  width: 8em;
  height: 8em;
  border-radius: 50%;
}

.bio {
  font-size: 0.8rem;
}

